.file-message-element {
  border: 1px solid #161d21;
  height: auto;
  min-width: 350px;
  width: auto;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0 10px 0;
  background-color: #2a2b2d;
  display: flex;
  position: relative;
}

.file-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.file-details p {
  margin: 0;
}

.file-name {
  color: #10a5f5;
  cursor: pointer;
}

.file-name:hover {
  text-decoration: underline;
}

.file-size {
  font-size: small;
  color: #b9bbbe;
}

.downloadBtn {
  position: absolute;
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3c3f;
}
