.notify-item {
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #2f3136;
  padding: 4px;
  margin: 0px 0px 8px 0;
  border-radius: 3px;
}

.notify-item:hover {
  background-color: #29333c;
}

.notify-container {
  display: flex;
  align-items: center;
  width: 75%;
}

.notify-container p {
  margin: 0 0 0 8px;
}

.notify-item-username {
  font-weight: bold;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-date {
  color: #aaaaaa;
  font-size: small;
}
