.input-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.auth-update-input {
  margin: 10px;
  border-radius: 8px;
  color: white;
}

.input-field input[type="text"] {
  display: block;
  padding: 8px;
  background-color: black;
  border: none;
  outline: none;
}

.input-field-label {
  font-weight: bold;
  text-transform: uppercase;
  color: #b9bbbe;
  font-size: small;
}

.btn-field {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.update-pass-header {
  font-size: large;
  color: #b9bbbe;
  margin-bottom: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}

.password-input {
  font-size: 1rem;
  padding: 8px;
  border: none;
  background-color: black;
  outline: none;
}

.submit-btn {
  display: flex;
  justify-content: end;
}
