* {
  box-sizing: border-box;
}

/* css to make scroll bar transparent */
/* 
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
} */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background: rgba(28, 28, 28, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(14, 14, 14, 0.5);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.div {
  background-color: #28292b;
}
